upstream django {
    server 127.0.0.1:8000;
}

server {
    listen 80;
    server_name localhost;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;

    location / {
        proxy_pass http://django;
    }

    location /static {
        alias /home/danilenko_e/2025-MAI-Backend-E-Danilenko/crochetProject/static;
    }

    location /api {
        proxy_pass http://django;
    }

    location /web {
        proxy_pass http://django;
    }
}